body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assets/tinys.jpg);
    background-size: cover;
}

main {
    background-blend-mode: overlay;
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-around;
}

section {
    background-color: pink;
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    width: 600px;
    height: auto;
    border-radius: 10px;
}

aside {
    background-color: pink;
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    display: contents;
}

footer {
    position: absolute;
    bottom: 25px;
    right: 100px;
    width: 80%;
    height: 50px;
}

.location {
    background-color: pink;
    opacity: 80%;
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

img {
    width: 20px;
    height: 20px;
}